---
import Layout from "../../layouts/REHAX.astro";
import Navbar from "../../components/Navbar.astro";
import NavbarClone from "../../components/NavbarClone.astro";
const title = "Home";
---

<Layout title={title}>
  <section class="hero is-small is-white">
    <Navbar />


    <NavbarClone />

    <div class="section is-medium">
      <div class="container">       
        <h1 class="title is-2 is-bold is-spaced has-text-centered">Cybersecurity trainings</h1>
      </div>
    </div>

    <div class="container">

      <div class="columns is-vcentered">
        <div class="column is-6">
          <h1 class="title is-2 is-bold is-spaced">Make learning impactful</h1>
            <h2 class="subtitle is-5 is-muted">
              Dive into the world of cybersecurity with our engaging, gamified training approach that makes learning fun and memorable. Our journey with you starts even before the official training date and continues well beyond it.
            </h2>

            <h1 class="title is-3 is-bold is-spaced mt-6">A Training Experience Like No Other</h1>
            <h2 class="subtitle is-5 is-muted">
              Our interactive, game-based cybersecurity trainings are designed to immerse you in the topic, engage your curiosity, and stimulate learning. We believe cybersecurity training doesn't have to be dull — with us, it's an adventure!
            </h2>
        </div>
        <div class="column">
          <img src="/img/illustrations/worker.svg" class="hero-image" alt="Description" />
        </div>
      </div>
      
  </section>

  <section class="section is-medium section-feature-grey">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2">Empower Your Cyber Defense</h2>
        <h3 class="subtitle is-5 is-muted">Explore Our Comprehensive Course Offerings</h3>
        <div class="divider is-centered"></div>
      </div>

      <div class="columns is-vcentered app-side mt-5">
        <div class="column is-4 is-offset-4 has-text-centered">
          <h3 class="title is-3 is-spaced is-title-reveal">Our trainings</h3>
          
          <div class='list'>
            <ul class="is-size-4">
                <div class='list-item'>
                    <li>
                      MITRE ATT&CK
                    </li>
                </div>
                <div class='list-item'>
                    <li>
                      Operational Cybersecurity
                    </li>
                </div>
                <div class='list-item'>
                  <li>
                    Windows: Protection and Exploitation
                  </li>
                </div>
                <div class='list-item'>
                  <li>
                    CIS Security Control
                  </li>
                </div>
                <div class='list-item'>
                  <li>
                    Security Awareness
                  </li>
                </div>
                <div class='list-item'>
                  <li>
                    Digital Forensics
                  </li>
                </div>

            </ul>
          </div>  

        </div>
        <!-- <div class="column is-7">
          <div class="has-text-centered">
            <img
              class="side-image"
              src="/img/illustrations/workers.svg"
            />
          </div>
        </div> -->
      </div>

    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2">Wait, there's more</h2>
        <!-- <h3 class="subtitle is-5 is-muted">Our certificate hall of fame</h3> -->
        <div class="divider is-centered mb-6"></div>
      </div>
    </div>

    <div class="container">
        <div class="columns is-vcentered mt-4">
          <div class="column is-4 is-offset-1">
            <h3 class="title is-3 is-spaced is-title-reveal">On-site and Online Training Options</h3>
            <p class="subtitle is-5 is-muted">
              Choose from on-site training for direct interaction and tailored solutions, or enjoy the flexibility of our online courses from any location, at any time. We cater to your unique needs.
            </p>
          </div>
          <div class="column is-6 is-offset-1">
            <h3 class="title is-3 is-spaced is-title-reveal">Long-term Learning Commitment</h3>
            <p class="subtitle is-5 is-muted">
              Our training program begins with pre-course materials, includes engaging tasks throughout the course that drive home key concepts, and extends to post-training support with additional resources, a follow-up webinar, and a pathway for further learning. We're not just here for the training — we're here for your continuous development in cybersecurity.
            </p>
          </div>
        </div>

     

        </div>
      </div>
    </div>
  </section>

  <!--<section
    class="section is-medium has-background-image"
    data-background="https://source.unsplash.com/g30P1zcOzXo/1600x900"
    data-color="#4FC1EA"
    data-color-opacity=".6"
    id="customer-feedback"
  >
    <div class="overlay"></div>
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 light-text is-spaced">Our clients love us</h2>
        <h3 class="subtitle is-5 light-text">Look at what they say about us</h3>
      </div>

      <div class="testimonials content-wrapper">
        <div class="columns is-vcentered">
          <div class="column is-4"></div>
          <div class="column is-4">
            <figure class="testimonial">
              <blockquote>
                Super goście.
              </blockquote>
              <div class="author">
                <img src="/img/illustrations/faces/2.png" alt="" />
                <div>
                    <h5>XXXXXX YYYY</h5>
                    <span>Chief Product Security Officer<br/>ABCDEFGH</span>
                </div>
              </div>
            </figure>
          </div>
          <div class="column is-4"></div>

          </div>
        </div>
      </div>
    </div>
  </section>-->



</Layout>
