---
import Layout from "../layouts/REHAX.astro";
import Navbar from "../components/Navbar.astro";
import NavbarClone from "../components/NavbarClone.astro";
const title = "Home";
---

<Layout title={title}>
  <section class="hero is-fullheight is-grey">
    <Navbar />

    <NavbarClone />

    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-5 landing-caption">
            <h1 class="title is-1 is-bold is-spaced">Military grade cybersecurity services.</h1>
            <h2 class="subtitle is-5 is-muted">
              We aim to deliver excellence in cybersecurity space through services of military grade, tailored to customer’s needs.
            </h2>
            <div class="button-wrap">
              <!-- <a class="button cta primary-btn raised">
                Get Started
              </a>
              <a class="button cta"> Discover</a> -->
            </div>
          </div>
          <div class="column is-7">
            <img src="/img/illustrations/worker.svg" class="hero-image" alt="Description" />
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="hero-foot mb-20">
      <div class="container">
        <div class="tabs is-centered">
          <ul>
            <li>
              <a
                ><img class="partner-logo" src="/img/logo/clients/systek.svg" />
              </a>
            </li>
            <li>
              <a
                ><img class="partner-logo" src="/img/logo/clients/tribe.svg" />
              </a>
            </li>
            <li>
              <a
                ><img class="partner-logo" src="/img/logo/clients/kromo.svg" />
              </a>
            </li>
            <li>
              <a
                ><img
                  class="partner-logo"
                  src="/img/logo/clients/infinite.svg"
                />
              </a>
            </li>
            <li>
              <a
                ><img
                  class="partner-logo"
                  src="/img/logo/clients/gutwork.svg"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div> -->
  </section>

  <section class="section is-medium" id="services">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2">Services</h2>
        <!-- <h3 class="subtitle is-5 is-muted">With great Responsability</h3> -->
        <div class="divider is-centered"></div>
      </div>

      <div class="feature-cards content-wrapper">

      <!-- First columns row -->
        <div class="columns">
          <div class="column is-4">
            <div
              class="feature-card is-bordered has-text-centered is-feature-reveal"
            >
              <div class="card-title">
                <h4>Cybersecurity trainings</h4>
              </div>
              <div class="card-icon">
                <img src="/img/icons/web.svg" />
              </div>
              <div class="card-text" style="height: 5em;">
                <p>Engage in dynamic, gamified learning experiences that match industry standards in technical proficiency</p>
              </div>
              <div class="card-action">
                <a href="./services/training" class="button btn-align-md primary-btn raised"
                  >Get Started</a
                >
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div
              class="feature-card is-bordered has-text-centered is-feature-reveal"
            >
              <div class="card-title">
                <h4>Hi SOC!</h4>
              </div>
              <div class="card-icon">
                <img src="/img/icons/rocket.svg" />
              </div>
              <div class="card-text" style="height: 5em;">
                <p>Your journey to a streamlined, effective SOC starts here</p>
              </div>
              <!--<div class="card-action">
                <a href="#" class="button btn-align-md primary-btn raised"
                  >Get Started</a
                >
              </div>-->
            </div>
          </div>
          <div class="column is-4">
            <div
              class="feature-card is-bordered has-text-centered is-feature-reveal"
            >
              <div class="card-title">
                <h4>CISO as a Service</h4>
              </div>
              <div class="card-icon">
                <img src="/img/icons/CISO.png" />
              </div>
              <div class="card-text" style="height: 5em;">
                <p>Get a cybersecurity partner to embark on your company-tailored digital security adventure</p>
              </div>
              <!--<div class="card-action">
                <a href="#" class="button btn-align-md primary-btn raised"
                  >Get Started</a
                >
              </div>-->
            </div>
          </div>
        </div>

        <!-- Second columns row -->
        <div class="columns">
          <div class="column is-4">
            <div
              class="feature-card is-bordered has-text-centered is-feature-reveal"
            >
              <div class="card-title">
                <h4>Observability</h4>
              </div>
              <div class="card-icon">
                <img src="/img/icons/web.svg" />
              </div>
              <div class="card-text" style="height: 5em;">
                <p>Unlock insights with metrics collection, visualization, and smart alerting tailored to your needs</p>
              </div>
              <!--<div class="card-action">
                <a href="#" class="button btn-align-md primary-btn raised"
                  >Get Started</a
                >
              </div>-->
            </div>
          </div>
          <div class="column is-4">
            <div
              class="feature-card is-bordered has-text-centered is-feature-reveal"
            >
              <div class="card-title">
                <h4>Log Management & SIEM</h4>
              </div>
              <div class="card-icon">
                <img src="/img/icons/rocket.svg" />
              </div>
              <div class="card-text" style="height: 5em;">
                <p>Boost your Log management and SIEM with strategic consulting, tool tuning, team training, and robust incident protocols</p>
              </div>
              <!--<div class="card-action">
                <a href="#" class="button btn-align-md primary-btn raised"
                  >Get Started</a
                >
              </div>-->
            </div>
          </div>
          <div class="column is-4">
            <div
              class="feature-card is-bordered has-text-centered is-feature-reveal"
            >
              <div class="card-title">
                <h4>Consulting</h4>
              </div>
              <div class="card-icon">
                <img src="/img/icons/light-bulb.svg" />
              </div>
              <div class="card-text" style="height: 5em;">
                <p>Empowering your business with all-encompassing consulting insights, strategies, and audits</p>
              </div>
              <!--<div class="card-action">
                <a href="#" class="button btn-align-md primary-btn raised"
                  >Get Started</a
                >
              </div>-->
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="section is-medium section-feature-grey" id="the-team">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2">The team</h2>
        <h3 class="subtitle is-5 is-muted">We are happy to meet You!</h3>
        <div class="divider is-centered"></div>
      </div>
      <div class="columns is-vcentered app-side">
        <div class="column is-4 is-offset-1">
          <h3 class="title is-3 is-spaced is-title-reveal">Passionate engineers</h3>
          <p class="subtitle is-5 is-muted">
            We are a team of passionates who want to solve problems for our customers. We have the knowledge and experience in operational cybersecurity. How can we help You?
          </p>
        </div>
        <div class="column is-7">
          <div class="has-text-centered">
            <img
              class="side-image"
              src="/img/illustrations/workers.svg"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2">Wait, there's more</h2>
        <h3 class="subtitle is-5 is-muted">Our certificate hall of fame</h3>
        <div class="divider is-centered"></div>
      </div>

      <div class="content-wrapper">
        <div class="columns is-multiline icon-list">
          <div class="column is-4">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <i class="iconify" data-icon="iconamoon:certificate-badge"></i>
              </div>
              <h4>SANS GCFA</h4>
              <p>GIAC Certified Forensic Analyst</p>
            </div>
          </div>
          <div class="column is-4">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <i class="iconify" data-icon="iconamoon:certificate-badge"></i>
              </div>
              <h4>SANS GSOM</h4>
              <p>GIAC Security Operations Manager</p>
            </div>
          </div>
          <div class="column is-4">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <i class="iconify" data-icon="iconamoon:certificate-badge"></i>
              </div>
              <h4>SANS GDAT</h4>
              <p>GIAC Defending Advanced Threats</p>
            </div>
          </div>
          <div class="column is-4">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <i class="iconify" data-icon="iconamoon:certificate-badge"></i>
              </div>
              <h4>SANS Advisory</h4>
              <p>GIAC Advisory Board</p>
            </div>
          </div>
          <div class="column is-4">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <i class="iconify" data-icon="iconamoon:certificate-badge"></i>
              </div>
              <h4>OSCP</h4>
              <p>OffSec Certified Professional</p>
            </div>
          </div>
          <div class="column is-4">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <i class="iconify" data-icon="iconamoon:certificate-badge"></i>
              </div>
              <h4>AZ-500</h4>
              <p>Microsoft Certified: Azure Security Engineer Associate</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!--<section
    class="section is-medium has-background-image"
    data-background="https://source.unsplash.com/g30P1zcOzXo/1600x900"
    data-color="#4FC1EA"
    data-color-opacity=".6"
    id="customer-feedback"
  >
    <div class="overlay"></div>
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 light-text is-spaced">Our clients love us</h2>
        <h3 class="subtitle is-5 light-text">Look at what they say about us</h3>
      </div>

      <div class="testimonials content-wrapper">
        <div class="columns is-vcentered">
          <div class="column is-4"></div>
          <div class="column is-4">
            <figure class="testimonial">
              <blockquote>
                Super goście.
              </blockquote>
              <div class="author">
                <img src="/img/illustrations/faces/2.png" alt="" />
                <div>
                    <h5>XXXXXX YYYY</h5>
                    <span>Chief Product Security Officer<br/>ABCDEFGH</span>
                </div>
              </div>
            </figure>
          </div>
          <div class="column is-4"></div>

          </div>
        </div>
      </div>
    </div>
  </section>-->

  <section class="section section-light-grey is-medium" id="contact">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 is-spaced">Drop us a line or two</h2>
        <h3 class="subtitle is-5 is-muted">We'd love to hear from You</h3>
        <div class="divider is-centered"></div>
      </div>

      <div class="content-wrapper">
        <div class="columns">

          <div class="column">
            <center>
            <iframe class="google-contact-form" src="https://docs.google.com/forms/d/e/1FAIpQLSeFBXjHevKr9POHlcNCkxt_y9gszhvwbAOhD5WQqDnt_8QuQA/viewform?embedded=true" width="640" height="1550" frameborder="0" marginheight="0" marginwidth="0">Loading..</iframe><br/>
            <a target="_blank" class="google-contact-form-link" href="https://docs.google.com/forms/d/e/1FAIpQLSeFBXjHevKr9POHlcNCkxt_y9gszhvwbAOhD5WQqDnt_8QuQA/viewform">Click here to open the form in a new tab</a></center>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</Layout>
