<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="footer-logo">
          <img src="/img/logo/rehax-white.svg" />
        </div>
      </div>
      <!-- <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>Services</h3>
          </div>
          <ul class="link-list">
            <li><a href="#">Discover features</a></li>
            <li><a href="#">Why choose us ?</a></li>
            <li><a href="#">Compare features</a></li>
            <li><a href="#">Our Roadmap</a></li>
            <li><a href="#">Request features</a></li>
          </ul>
        </div>
      </div> -->
      <!-- <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>Docs</h3>
          </div>
          <ul class="link-list">
            <li><a href="#">Get Started</a></li>
            <li><a href="#">User guides</a></li>
            <li><a href="#">Admin guide</a></li>
            <li><a href="#">Developers</a></li>
          </ul>
        </div>
      </div> -->
      <!-- <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>Blogroll</h3>
          </div>
          <ul class="link-list">
            <li><a href="#">Latest News</a></li>
            <li><a href="#">Tech articles</a></li>
            <li><a href="#">Video Blog</a></li>
          </ul>
        </div>
      </div> -->
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>Follow Us</h3>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item" href="https://github.com/mrblacyk">
                  <span class="icon">
                    <i class="iconify" data-icon="fa6-brands:github"></i>
                  </span>
                </a>
<!--                 <a class="level-item" href="https://facebook.com/#">
                  <span class="icon">
                    <i class="iconify" data-icon="fa6-brands:facebook-f"></i>
                  </span>
                </a> -->
                <a class="level-item" href="https://twitter.com/rehax_eu">
                  <span class="icon">
                    <i class="iconify" data-icon="fa6-brands:twitter"></i>
                  </span>
                </a>
                <a class="level-item" href="https://www.linkedin.com/in/jakobweinzettl/">
                  <span class="icon">
                    <i class="iconify" data-icon="fa6-brands:linkedin-in"></i>
                  </span>
                </a>
              </div>
            </nav>

            <a href="https://bulma.io" target="_blank">
              <img
                src="/img/logo/made-with-bulma.png"
                alt="Made with Bulma"
                width="128"
                height="24"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
