<nav
  x-data="initNavbar()"
  x-on:scroll.window="scroll()"
  id="navbar-clone"
  class="navbar is-fresh is-transparent"
  role="navigation"
  aria-label="main navigation"
  :class="{
  'is-active': scrolled,
  '': !scrolled
}"
>
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://rehax.eu">
        <img src="/img/logo/rehax.svg" alt="" width="112" height="28" />
      </a>

      <div class="navbar-burger" @click="openMobileMenu()">
        <span class="menu-toggle">
          <span
            class="icon-box-toggle"
            :class="{
                      'active': mobileOpen,
                      '': !mobileOpen
                  }"
          >
            <span class="rotate">
              <i class="icon-line-top"></i>
              <i class="icon-line-center"></i>
              <i class="icon-line-bottom"></i>
            </span>
          </span>
        </span>
      </div>
    </div>

    <div
      id="cloned-navbar-menu"
      class="navbar-menu is-fixed"
      :class="{
          'is-active': mobileOpen,
          '': !mobileOpen
      }"
    >
      <div class="navbar-start">
      </div>

      <div class="navbar-end">
        <a href="#services" class="navbar-item is-secondary"> Services</a>
        <a href="#the-team" class="navbar-item is-secondary"> The team</a>
        <!-- <a href="#customer-feedback" class="navbar-item is-secondary"> Customer feedback</a> -->
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeFBXjHevKr9POHlcNCkxt_y9gszhvwbAOhD5WQqDnt_8QuQA/viewform" class="navbar-item">
          <span class="button signup-button secondary-btn raised">
            Contact us
          </span>
        </a>
      </div>
    </div>
  </div>
</nav>
