---
import Unfont from 'unplugin-fonts/astro/component.astro';
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
import BackToTop from "../components/BackToTop.astro";
import "simplebar/dist/simplebar.min.css";
import "../styles/main.scss";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <Unfont />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>REHAX {"- " + title}</title>

    <link rel="icon" type="image/png" href="img/favicon.png" />
  </head>

  <body>

    <Sidebar />

    <!--page partial-->
    <slot />

    <Footer />

    <!--Back to top-->
    <BackToTop />

    <script src="../js/main"></script>
  </body>
</html>
